<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>musictools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>054902FE1C5D193D00163FDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0549030F1C5D193E00163FDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0549031A1C5D193E00163FDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
